/*-- Variables --*/

:root {
  --main-color: #ffffe5;
  --main-cta-color: #415d5d;
  --header-font: "chennai slab";
  --body-font: "chennai";
}

/*-- Global Styling --*/

nav,
ul li,
h1,
h2 {
  font-family: var(--header-font), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 100;
}

h3,
p,
.wp-block-post-date,
.wp-block-latest-comments {
  font-family: var(--body-font), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body,
header {
  background: var(--main-color);
}

header {
  display: flex;
  display: grid;
  grid-template-areas: "logo nav nav";
  border-bottom: 3px solid var(--main-cta-color);
}

nav {
  grid-area: nav;
  align-self: end;
  font-size: 1.5em;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.logo-container {
  display: flex;
  grid-area: logo;
  width: 70%;
}

.logo {
  width: 80%;
}

nav ul li a {
  text-align: center;
  padding: 7px 20px;
}

nav ul li a.active,
nav ul li a:hover {
  color: white;
  background-color: var(--main-cta-color);
  box-shadow: 0px 3px 6px black;
}

.page-headings {
  text-align: center;
  font-size: 3em;
  margin: 40px 248px 0;
}

.underline-headings {
  border-bottom: 3px solid var(--main-cta-color);
  width: 26%;
  margin: auto;
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: column;
}

.body-copy {
  font-size: 1.5em;
  text-align: center;
  margin: 5% 10%;
}

/*-- CTA & Buttons --*/
.cta {
  text-align: center;
  color: white;
  background-color: var(--main-cta-color);
  font-family: var(--body-font);
  padding: 7px 44px;
  box-shadow: 0px 3px 6px black;
  border: none;
}

.view-more-cta {
  text-align: center;
  color: white;
  background-color: var(--main-cta-color);
  font-family: var(--body-font);
  padding: 7px 44px;
  box-shadow: 0px 3px 6px black;
  border: none;
  font-size: 1em;
}

.view-more-cta:hover {
  background: none;
  color: black;
  border: 2px solid var(--main-cta-color);
}

.view-less-cta {
  display: none;
}

.post-specific .cta-container {
  margin-top: 10px;
}

.cta:hover {
  background: none;
  color: black;
  border: 2px solid var(--main-cta-color);
}

.cta-container {
  text-align: center;
  margin-bottom: 30px;
}

.hamburger-menu-open,
.hamburger-menu-close {
  border: none;
  background-color: var(--main-color);
  font-size: 2em;
  display: none;
  position: fixed;
  top: 7.7rem;
  right: 4rem;
}

.fas,
.fa-times,
.fas,
.fa-bars {
  position: fixed;
  top: 7.7rem;
  right: 4rem;
}

.fas,
.fas-times {
  right: 4.1rem;
}

/*-- Footer --*/

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  border-top: 3px solid var(--main-cta-color);
  font-size: 1.5em;
}

.footer-copy {
  padding: 10px;
  color: black;
}

/*-- blog posts --*/

.blog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.post-card {
  text-align: center;
  margin: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-- Post Specific --*/

.post-specific,
.comments {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.post-title {
  font-family: var(--header-font)
  font-size: 2em;
}

.postImage {
  width: 40%;
}

.post-copy {
  margin: auto 120px;
}

.comments h2,
.form-container h2 {
  font-size: 1.7em;
  font-family: var(--header-font);
}

/*-- Form Styling --*/

.form-container h2 {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}

.form-input {
  font-family: var(--header-font);
  color: white;
  background-color: var(--main-cta-color);
  border: none;
  box-shadow: 0 3px 6px black;
  width: 265px;
  font-size: 1.1em;
}

::placeholder {
  color: white;
  font-family: var(--body-font);
}

.error-message {
  margin: 10px auto;
  font-family: var(--body-font);
}

/*-- Screen Resize --*/

@media only screen and (max-width: 764px) {
  /*-- Global Styles --*/

  .page-headings {
    font-size: 2.5em;
  }

  /*-- Hamburger Menu --*/
  ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    align-content: center;
    display: none;
    right: 0px;
    top: 195px;
    height: 234px;
  }

  .hamburger-menu-open,
  .hamburger-menu-close {
    display: block;
  }

  .fa-bars {
    display: block;
  }

  .fa-times {
    display: none;
  }

  /*-- Post Specific --*/

  .postImage {
    width: 65%;
  }

  .post-copy {
    margin: auto 43px;
  }
}

@media only screen and (max-width: 570px) {
  /*-- Post Specific --*/

  .post-title {
    font-size: 1.7em;
  }

  .post-copy {
    margin: auto 20px;
  }

  .postImage {
    width: 80%;
  }
}
