/*-- Variables --*/

:root {
  --main-color: #ffffe5;
  --main-cta-color: #415d5d;
  --header-font: "chennai slab";
  --body-font: "chennai";
}

/*-- Global Styling --*/

nav,
ul li,
h1,
h2 {
  font-family: var(--header-font);
  font-weight: 100;
}

h3,
p {
  font-family: var(--body-font);
  font-weight: 100;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body,
header {
  background: var(--main-color);
}

header {
  display: flex;
  display: grid;
  grid-template-areas: "logo nav nav";
  border-bottom: 3px solid var(--main-cta-color);
}

nav {
  grid-area: nav;
  align-self: end;
  font-size: 1.5em;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.logo-container {
  display: flex;
  grid-area: logo;
  width: 70%;
}

.logo {
  width: 80%;
}

nav ul li a {
  text-align: center;
  padding: 7px 20px;
}

nav ul li a.active,
nav ul li a:hover {
  color: white;
  background-color: var(--main-cta-color);
  box-shadow: 0px 3px 6px black;
}

.page-headings {
  text-align: center;
  font-size: 3em;
  margin: 40px auto 0 auto;
}

.underline-headings {
  border-bottom: 3px solid var(--main-cta-color);
  width: 26%;
  margin: auto;
  text-align: center;
}

/*-- Index --*/

.index-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel {
  width: 100%;
  max-width: 964px;
  text-align: center;
  margin-top: 25px;
}

.content-container {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.content-container::-webkit-scrollbar {
  height: 0;
}

.carousel-posts {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.slider-card {
  width: 228px;
  height: 474px;
  display: flex;
  flex-direction: column;
}

.carouselNavigation {
  margin: 25px auto auto auto;
  display: flex;
  flex-direction: row;
  gap: 159px;
}

.carousel-info {
  display: none;
  font-size: 1.5em;
  margin: 10px auto;
}

/*
.prev {
  display: flex;
  justify-content: center;
  align-content: center;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

.next {
  display: flex;
  justify-content: center;
  align-content: center;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
*/
.body-copy {
  font-size: 1.5em;
  text-align: center;
  margin: 5% 10%;
}

/*-- CTA & Buttons --*/
.cta {
  text-align: center;
  color: white;
  background-color: var(--main-cta-color);
  font-family: var(--body-font);
  padding: 7px 44px;
  box-shadow: 0px 3px 6px black;
  border: none;
}

.view-more-cta {
  text-align: center;
  color: white;
  background-color: var(--main-cta-color);
  font-family: var(--body-font);
  padding: 7px 44px;
  box-shadow: 0px 3px 6px black;
  border: none;
  font-size: 1em;
}

.view-more-cta:hover {
  background: none;
  color: black;
  border: 2px solid var(--main-cta-color);
}

.view-less-cta {
  display: none;
}

.post-specific .cta-container {
  margin-top: 10px;
}

.cta:hover {
  background: none;
  color: black;
  padding: 7px 44px;
  border: 2px solid var(--main-cta-color);
}

.cta-container {
  text-align: center;
  margin-bottom: 30px;
  margin-top: auto;
}

button {
  cursor: pointer;
}

/*-- Footer --*/

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  border-top: 3px solid var(--main-cta-color);
  font-size: 1.5em;
}

.footer-copy {
  padding: 10px;
  color: black;
}

/*-- blog posts --*/

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.blog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.post-card {
  text-align: center;
  margin: 20px;
}

.post-image {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-- Post Specific --*/

.post-specific,
.comments {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.post-title {
  font-size: 2em;
}

.postImage {
  width: 40%;
}

.post-copy {
  margin: auto 120px;
}

.comments h2,
.form-container h2 {
  font-size: 1.7em;
  font-family: var(--header-font);
}

/*-- Form Styling --*/

.form-container h2,
.comment-form {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

.comment-form,
.contact-form {
  display: flex;
  flex-direction: column;
}

.comment-form {
  gap: 14px;
}

.contact-form {
  align-items: center;
  margin: 20px auto;
}

.form-input {
  font-family: var(--header-font);
  color: white;
  background-color: var(--main-cta-color);
  border: none;
  box-shadow: 0 3px 6px black;
  width: 265px;
  font-size: 1.1em;
}

::placeholder {
  color: white;
  font-family: var(--body-font);
}

.error-message {
  margin: 10px auto;
  font-family: var(--body-font);
}

/*-- Screen Resize --*/

@media only screen and (max-width: 764px) {
  /*-- Global Styles --*/

  .page-headings {
    font-size: 2.5em;
  }

  /*-- Index page --*/

  .content-container {
    margin: auto 16px auto 16px;
  }

  .carouselNavigation {
    display: none;
  }

  .carousel-info {
    display: block;
  }

  .carousel-info p {
    margin-bottom: auto;
  }

  /*-- Hamburger Menu --*/
  ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    align-content: center;
    display: none;
    right: 0px;
    top: 195px;
    height: 234px;
  }

  .hamburger-menu-open,
  .hamburger-menu-close {
    display: block;
  }

  .fa-bars {
    display: block;
  }

  .fa-times {
    display: none;
  }

  /*-- Post Specific --*/

  .postImage {
    width: 65%;
  }

  .post-copy {
    margin: auto 43px;
  }

  /*-- About page --*/
  .body-copy {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 570px) {
  /*-- Global Styles --*/

  .page-headings {
    font-size: 2em;
  }

  /*-- Post Specific --*/

  .post-title {
    font-size: 1.7em;
  }

  .post-copy {
    margin: auto 20px;
  }

  .postImage {
    width: 80%;
  }

  /*-- About Page --*/

  .body-copy {
    margin: 5% 3%;
    font-size: 0.8em;
  }
}
